<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/all.css"
          th:href="@{/resources/static/css/all.css}">
    <link rel="shortcut icon" type="image/x-icon"
          href="../../resources/static/img/favicon.svg"
          th:href="@{/resources/static/img/favicon.svg}"/>

    <title>Edit client</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="clients.html"
       th:href="@{/clients}">
        <img src="../../resources/static/img/logo.svg"
             th:src="@{/resources/static/img/logo.svg}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar"
            aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link"
                   href="orders.html"
                   th:href="@{/orders}">Orders</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link"
                   href="clients.html"
                   th:href="@{/clients}">Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="cars.html"
                   th:href="@{/cars}">Cars</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">
    <nav class="d-flex navbar navbar-light bg-light align-items-center p-3 my-3 text-dark-50 bg-purple">

        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="clients.html"
                   th:href="@{/clients}"
                   type="button" class="btn btn-dark pull-right"
                   data-toggle="tooltip" data-placement="top" title="Back to Clients">
                    <i class="fas fa-arrow-left"></i> <span class="d-none d-sm-inline"></span></a>
            </li>
        </ul>

        <a class="navbar-brand text-uppercase"><i class="fas fa-user-friends"></i> Edit Client</a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="clients.html"
                   th:href="@{/clients}"
                   th:onclick="@{document.forms['clientForm'].submit(); return false;}"
                   type="button" class="btn btn-dark pull-right" data-toggle="tooltip" data-placement="top"
                   title="Save edited Client">
                    <i class="fa fa-save"></i> <span class="d-none d-sm-inline">Save</span></a>
            </li>
        </ul>
    </nav>

    <section id="edit-client">
        <form id="clientForm"
              action="clients.html"
              th:action="@{${#httpServletRequest.servletPath}}"
              th:object="${client}"
              th:method="@{post}">

            <input id="field_clientId"
                   type="hidden"
                   th:field="*{clientId}"/>

            <div class="form-group">
                <label for="passportNumber">Passport number</label>
                <input class="form-control"
                       th:class="${#fields.hasErrors('passportNumber')} ? 'form-control is-invalid' : 'form-control'"
                       id="passportNumber" aria-describedby="passportNumberHelp"
                       th:field="*{passportNumber}">
                <small id="passportNumberHelp" class="form-text text-muted">Client passport number.</small>
                <div th:if="${#fields.hasErrors('passportNumber')}"
                     class="invalid-feedback"
                     th:errors="*{passportNumber}">[errors]</div>
            </div>
            <div class="form-group">
                <label for="firstName">First name</label>
                <input class="form-control"
                       th:class="${#fields.hasErrors('firstName')} ? 'form-control is-invalid' : 'form-control'"
                       id="firstName" aria-describedby="firstNameHelp"
                       th:field="*{firstName}">
                <small id="firstNameHelp" class="form-text text-muted">Client first name.</small>
                <div th:if="${#fields.hasErrors('firstName')}"
                     class="invalid-feedback"
                     th:errors="*{firstName}">[errors]</div>
            </div>
            <div class="form-group">
                <label for="lastName">Last name</label>
                <input class="form-control"
                       th:class="${#fields.hasErrors('lastName')} ? 'form-control is-invalid' : 'form-control'"
                       id="lastName" aria-describedby="firstNameHelp"
                       th:field="*{lastName}">
                <small id="lastNameHelp" class="form-text text-muted">Client last name.</small>
                <div th:if="${#fields.hasErrors('lastName')}"
                     class="invalid-feedback"
                     th:errors="*{lastName}">[errors]</div>
            </div>
            <div class="form-group">
                <label for="addingDate">Adding date</label>
                <input type="date" class="form-control"
                       th:class="${#fields.hasErrors('addDate')} ? 'form-control is-invalid' : 'form-control'"
                       id="addingDate" aria-describedby="addingDateHelp"
                       th:field="*{addDate}">
                <small id="addingDateHelp" class="form-text text-muted">Date of adding a client.</small>
                <div th:if="${#fields.hasErrors('addDate')}"
                     class="invalid-feedback"
                     th:errors="*{addDate}">[errors]</div>
            </div>
            <button type="reset" class="btn btn-dark button-date-reset" data-toggle="tooltip" data-placement="top"
                    title="Values reset"><i class="fas fa-times"></i><span class="d-none d-sm-inline"> Cancel</span>
            </button>
        </form>
    </section>
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../../resources/static/js/jquery.min.js"
        th:src="@{/resources/static/js/jquery.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

</script>
</body>
</html>