<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/all.css"
          th:href="@{/resources/static/css/all.css}">

    <title>Edit order</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> <img src="../../resources/static/img/logo.svg"
                                           th:src="@{/resources/static/img/logo.svg}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar"
            aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link"
                   href="orders.html"
                   th:href="@{/orders}">Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="clients.html"
                   th:href="@{/clients}">Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="cars.html"
                   th:href="@{/cars}">Cars</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">
    <nav class="d-flex navbar navbar-light bg-light align-items-center p-3 my-3 text-dark-50 bg-purple">

        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="orders.html"
                   th:href="@{/orders}"
                   type="button" class="btn btn-dark pull-right"
                   data-toggle="tooltip" data-placement="top" title="Back to Orders">
                    <i class="fas fa-arrow-left"></i> <span class="d-none d-sm-inline"></span></a>
            </li>
        </ul>

        <a class="navbar-brand text-uppercase"><i class="fas fa-clipboard-list"></i> Edit Order</a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="orders.html"
                   th:href="@{/orders}"
                   th:onclick="@{document.forms['orderForm'].submit(); return false;}"
                   type="button" class="btn btn-dark pull-right" data-toggle="tooltip" data-placement="top"
                   title="Save edited Order">
                    <i class="fa fa-save"></i> <span class="d-none d-sm-inline">Save</span></a>
            </li>
        </ul>
    </nav>

    <section id="edit-order">
        <form id="orderForm"
              action="orders.html"
              th:action="@{${#httpServletRequest.servletPath}}"
              th:object="${order}"
              th:method="@{post}">

            <input id="field_orderId"
                   type="hidden"
                   th:field="*{orderId}"/>

            <div class="form-group">
                <label for="clientId">Client ID</label>
                <input class="form-control"
                       th:class="${#fields.hasErrors('clientId')} ? 'form-control is-invalid' : 'form-control'"
                       id="clientId" aria-describedby="clientIdHelp"
                       th:field="*{clientId}">
                <small id="clientIdHelp" class="form-text text-muted">Client ID.</small>
                <div th:if="${#fields.hasErrors('clientId')}"
                     class="invalid-feedback"
                     th:errors="*{clientId}">[errors]</div>
            </div>
            <div class="form-group">
                <label for="carId">Car ID</label>
                <input class="form-control"
                       th:class="${#fields.hasErrors('carId')} ? 'form-control is-invalid' : 'form-control'"
                       id="carId" aria-describedby="carIdHelp"
                       th:field="*{carId}">
                <small id="carIdHelp" class="form-text text-muted">Car ID.</small>
                <div th:if="${#fields.hasErrors('carId')}"
                     class="invalid-feedback"
                     th:errors="*{carId}">[errors]</div>
            </div>
            <div class="form-group">
                <label for="rentalTime">Rental time</label>
                <input class="form-control"
                       th:class="${#fields.hasErrors('rentalTime')} ? 'form-control is-invalid' : 'form-control'"
                       id="rentalTime" aria-describedby="rentalTimeHelp" th:field="*{rentalTime}">
                <small id="rentalTimeHelp" class="form-text text-muted">Rent time is measured in days,
                    the minimum time - one day.
                </small>
                <div th:if="${#fields.hasErrors('rentalTime')}"
                     class="invalid-feedback"
                     th:errors="*{rentalTime}">[errors]</div>
            </div>
            <div class="form-group">
                <label for="registrationDate">Registration date</label>
                <input type="date" class="form-control"
                       th:class="${#fields.hasErrors('regDate')} ? 'form-control is-invalid' : 'form-control'"
                       id="registrationDate" aria-describedby="registrationDateHelp"
                       th:field="*{regDate}">
                <small id="registrationDateHelp" class="form-text text-muted">Date of registration a rental order.</small>
                <div th:if="${#fields.hasErrors('regDate')}"
                     class="invalid-feedback"
                     th:errors="*{regDate}">[errors]</div>
            </div>
            </div>
            <button type="reset" class="btn btn-dark button-date-reset" data-toggle="tooltip" data-placement="top"
                    title="Values reset"><i class="fas fa-times"></i><span class="d-none d-sm-inline"> Cancel</span></button>
        </form>
    </section>
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../../resources/static/js/jquery.min.js"
        th:src="@{/resources/static/js/jquery.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>