<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/all.css"
          th:href="@{/resources/static/css/all.css}">
    <link rel="shortcut icon" type="image/x-icon"
          href="../../resources/static/img/favicon.svg"
          th:href="@{/resources/static/img/favicon.svg}"/>

    <title>Edit car</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="cars.html" th:href="@{/cars}">
        <img src="../../resources/static/img/logo.svg"
             th:src="@{/resources/static/img/logo.svg}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar"
            aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link"
                   href="orders.html"
                   th:href="@{/orders}">Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="clients.html"
                   th:href="@{/clients}">Clients</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link"
                   href="cars.html"
                   th:href="@{/cars}">Cars</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">
    <nav class="d-flex navbar navbar-light bg-light align-items-center p-3 my-3 text-dark-50 bg-purple">

        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="cars.html" th:href="@{/cars}"
                   type="button" class="btn btn-dark pull-right"
                   data-toggle="tooltip" data-placement="top" title="Back to Cars">
                    <i class="fas fa-arrow-left"></i> <span class="d-none d-sm-inline"></span></a>
            </li>
        </ul>

        <a class="navbar-brand text-uppercase"><i class="fas fa-car"></i> Edit Car</a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="cars.html"
                   th:href="@{/cars}"
                   th:onclick="@{document.forms['carForm'].submit(); return false;}"
                   type="button" class="btn btn-dark pull-right" data-toggle="tooltip" data-placement="top"
                   title="Save edited Car">
                    <i class="fa fa-save"></i> <span class="d-none d-sm-inline">Save</span></a>
            </li>
        </ul>
    </nav>

    <section id="edit-car">
        <form id="carForm"
              action="cars.html"
              th:action="@{${#httpServletRequest.servletPath}}"
              th:object="${car}"
              th:method="@{post}">

            <input id="field_carId"
                   type="hidden"
                   th:field="*{carId}"/>

            <div class="form-group">
                <label for="carDescription">Car description</label>
                <input class="form-control"
                       th:class="${#fields.hasErrors('carDescription')} ? 'form-control is-invalid' : 'form-control'"
                       id="carDescription" aria-describedby="carDescriptionHelp" placeholder="Enter car description"
                       th:field="*{carDescription}">
                <small id="carDescriptionHelp" class="form-text text-muted">Name of the brand and model of car.</small>
                <div th:if="${#fields.hasErrors('carDescription')}"
                     class="invalid-feedback"
                     th:errors="*{carDescription}">[errors]
                </div>
            </div>
            <div class="form-group">
                <label for="carNumber">Car number</label>
                <input class="form-control"
                       th:class="${#fields.hasErrors('carNumber')} ? 'form-control is-invalid' : 'form-control'"
                       id="carNumber" aria-describedby="carNumberHelp" placeholder="Enter car number"
                       th:field="*{carNumber}">
                <small id="carNumberHelp" class="form-text text-muted">Car registration number.</small>
                <div th:if="${#fields.hasErrors('carNumber')}"
                     class="invalid-feedback"
                     th:errors="*{carNumber}">[errors]
                </div>
            </div>
            <div class="form-group">
                <label for="rentalCost">Rental cost</label>
                <input class="form-control"
                       th:class="${#fields.hasErrors('rentalCost')} ? 'form-control is-invalid' : 'form-control'"
                       id="rentalCost" aria-describedby="rentalCostHelp" placeholder="Enter car rental cost"
                       th:field="*{rentalCost}">
                <small id="rentalCostHelp" class="form-text text-muted">Rental cost in Belarusian rubles</small>
                <div th:if="${#fields.hasErrors('rentalCost')}"
                     class="invalid-feedback"
                     th:errors="*{rentalCost}">[errors]
                </div>
            </div>
        </form>
    </section>
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../../resources/static/js/jquery.min.js"
        th:src="@{/resources/static/js/jquery.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>