<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/all.css"
          th:href="@{/resources/static/css/all.css}">

    <title>Exception</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> <img src="../../resources/static/img/logo.svg"
                                           th:src="@{/resources/static/img/logo.svg}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar"
            aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link"
                   href="orders.html"
                   th:href="@{/orders}">Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="clients.html"
                   th:href="@{/clients}">Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="cars.html"
                   th:href="@{/cars}">Cars</a>
            </li>
        </ul>
    </div>
</nav>

    <section id="oops">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h2>Ooops. Something happened...</h2>
                            <h2>Hints:</h2>
                            <h3>You cannot delete a client or car if they are in the created orders!</h3>
                            <p th:text="${exception.message}">The exception message...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../../resources/static/js/jquery.min.js"
        th:src="@{/resources/static/js/jquery.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>